/* 
==================================================
Globals 
==================================================
*/

.row {
    min-width: 100%;
}

/* 
==================================================
Table 
==================================================
*/

#results .dataframe {
    overflow: scroll;
    margin: 50px;
    border-color: #ffffff;
    border-top-width: 0;
    border-right-width: 0;
    border-bottom-width: 0;
    border-left-width: 0;
}

#results td {
    min-width: 200px;
    padding: 10px 12px;
}

table.dataframe th {
    padding: 10px;
}

table.dataframe tr > th:nth-child(1) {
    display: none;
}

table.dataframe tbody tr:nth-child(even) {
    background: #DAF4FF;
}

table.dataframe tbody tr:nth-child(odd) {
    background: #A8E4FE;
}