/* 
==================================================
Globals 
==================================================
*/

.row {
    min-width: 100%;
}

/* 
==================================================
Table 
==================================================
*/

.hotel-row {
    margin: 20px;
}

.name-label,
.score-label,
.count-label,
.address-label {
    font-weight: 900;
}

.hotel-score p,
.hotel-review-count p {
    font-weight: 700;
}