<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
    <head>
        <title>Travelate</title>

        <meta name="author"                content="Scott Bishop">
        <meta name="Travelate"              content="">
        <meta name="viewport"              content="width=device-width, initial-scale=1">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="robots"                content="noindex, nofollow">
        <meta charset="UTF-8">

        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" rel="stylesheet" />
        
        <link href="{{ url_for('static',filename='styles/index.css') }}" rel="stylesheet" />
        <link href="{{ url_for('static', filename = 'styles/result.css') }}" rel="stylesheet" />

        <link href="https://fonts.googleapis.com/css?family=Lato:400,700,900" />
    </head>

    <body>
        <div class="container">
            <div class="row">
                <div class="col-12" id="search">
                    <div class="row" id="search__top">
                        <div class="col-sm-6 offset-sm-3">
                            <h1>Travelate</h1>
                        </div>
                    </div>
                    
                    <form id="hotel__search__form" action="http://localhost:5000/result" method="POST" novalidate>
                        <div class="row">
                            <div class="col-sm-12">
                                <p>In what country are you searching hotels for: Netherlands, Austria, France, Italy, Kingdom (United Kingdom), or Spain?</p>
                            </div>
                        </div>

                        <div class="row" id="search__bottom">
                            <div class="col-9 col-sm-10">
                                <input type="text" name="hotel_query" id="search__input" />
                            </div>
    
                            <div class="col-3 col-sm-2">
                                <input type="submit" value="Submit" id="search__submit" />
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </body>

</html>